%h2 List of all applications

%table
  %tr
    %th User
    %th Refund Category
    %th Approved
    %th Actions
  - @applications.each do |app|
    %tr
      %td= app.user.email
      %td= app.category.name
      %td= app.approved
      %td
        = link_to 'Show'
        = link_to 'Approve'