%h2 List of applications
%table
	- if is_admin?
		%tr
			%th User
			%th Refund Category
			%th Approved
			%th Actions
		- @applications.each do |app|
			%tr
				%td= app.user.email
				%td= app.category.name
				%td= app.approved
				%td
					= link_to 'Show'
					= link_to 'Approve'
	- else 
		= render 'user_apps'
= link_to 'Apply for refund', new_application_path