%h2 Apply for refund

= simple_form_for @application do |f|
  = f.association :category, as: :select, collection: Category.all, selected: 1
  = f.input :description
  = f.submit
  
%p= link_to 'Check status of applications', applications_path