%h2 Log in 

.form
	= simple_form_for :session, url: session_index_path, :method => :post do |f|
		= f.input :email
		= f.input :password
		= f.submit 'Log in', class: 'btn btn-default'

.register
	%h3 Doesn't have account? 
	%p= link_to 'Register', register_path, class: 'btn btn-success'
	%p= link_to 'Sign in with Facebook', '/auth/facebook', class: 'btn btn-info'
	%p= link_to 'Sign in with Twitter', '/auth/twitter', class: 'btn btn-info'