%h2 Register

.form
	= simple_form_for @user do |f|
		= f.input :email
		= f.input :password
		= f.input :password_confirmation
		= f.submit 'Sign up', class: 'btn btn-default'

.register
	%h3 Already has an account? 
	%p= link_to 'Login', login_path, class: 'btn btn-success'
	%p= link_to 'Sign in with Facebook', '/auth/facebook', class: 'btn btn-info'
	%p= link_to 'Sign in with Twitter', '/auth/twitter', class: 'btn btn-info'